

@media (max-width: 464px) {
  .projects {
    margin-top: 15px;

    h2 {
      font-family: NunitoExtraLight, sans-serif;
      font-size: 20px;
      text-align: center;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
    }
  }
}