.about {

  .about-content {
    display: inline-flex;
    justify-content: space-between;

    .about-info {
      max-width: 50%;

      h1 {
        font-family: NunitoLight, sans-serif;
        font-size: 40px;
        margin-top: 26px;
        margin-bottom: 0;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.25);

      }

      ul {
        font-size: 16px;
        font-family: NunitoRegular, sans-serif;
        margin: 0;
        padding: 0;
        list-style-type: none;

        span {
          font-family: NunitoLight, sans-serif;
          color: rgba(255, 255, 255, 0.7);;
        }
      }

      .short-info {
        display: block;
        margin-top: 10px;
        text-align: justify;
      }
    }



    .avatar {
      max-width: 200px;
      margin-top: 31px;
      filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.4));

      img {
        max-width: 200px;
      }
    }
  }

  .short-info-mobile {
    display: none;
  }
}

@media (max-width: 464px) {
  .about {

    .about-content {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-bottom: 10px;
      align-items: center;

      .about-info {
        max-width: none;
        width: 100%;
        padding: 0 0 0 20px;

          h1 {
            font-family: NunitoLight, sans-serif;
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 0;
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.25);

          }

          ul {
            font-size: 10px;
            font-family: NunitoRegular, sans-serif;
            margin: 0;
            padding: 0;
            list-style-type: none;

            span {
              font-family: NunitoLight, sans-serif;
              color: rgba(255, 255, 255, 0.7);;
            }
          }

          .short-info {
            display: none;
          }
      }

      .avatar {
        max-width: 100px;
        margin-top: 0;
        filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.4));

        img {
          max-width: 100px;
          border-radius: 100px;
        }
      }
    }
    .short-info-mobile {
      display: block;
      width: 100%;
      text-align: justify;
    }
  }
}

